.login {
  align-items: center;
  background-color: rgb(202, 39, 58);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.mb-3 {
  align-items: flex-end;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 130px;
  justify-content: space-around;
  margin-bottom: 3px;
}

.login-title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
